<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
              <li>
                  <a class="nav-link" routerLink="/profile">Profile</a>         
              </li>
              
              <li>
                  <a class="nav-link" routerLink="/demo">Demo</a>
              </li>

              <li>
                  <a class="nav-link" routerLink="/plan">Plan</a>
              </li>
          </ul>

      </div>

  </nav>
</header>